body {
    font-family: 'Poppins', sans-serif;
    color: #1455B8;
}

.main-content {
    display:block;
}

#order-screen {
    display:none;
}

.main-head {
    display:flex;
    flex-direction: row;
    margin-top: 3rem;
}

.main-head > p {
    font-size: 14px;
}

.main-head > h1 {
    font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
    color: #1455B8;
    font-size: 3rem;
    text-align: center;
    margin: 3vw 0 3vw 0;
}

.btn {
    background-color: #FBD482;
    border-radius: 25px;
    color: #1455B8;
    display: block;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (min-width: 992px) {
  
    .main-head > h1 {
        font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
        color: #1455B8;
        font-size: 5rem;
        text-align: center;
        margin: 3vw 0 3vw 0;
    }

    .main-head > p {
        font-size: 24px;
        text-align: left;
    }

    .disclaimer {
        margin-top: 0;
    }
}