body {
    font-family: 'Poppins', sans-serif;
    color: #1455B8;
}

.announcement {
    font-family: abolition, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2em;
text-align: center;
}

.event-banner {
    background-color: #1455B8;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.event-banner > h2, li {
    color: white;
}

.event-banner > li {
    font-size: 1em;
    list-style: none;
    margin-bottom: 2%;
}

.find-us {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.main-content {
    display:block;
}

#order-screen {
    display:none;
}

.main-head {
    display:flex;
    flex-direction: row;
    margin-top: 3rem;
}

.main-head > p {
    font-size: 14px;
}

.main-head > h1 {
    font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
    color: #1455B8;
    font-size: 3rem;
    text-align: center;
    margin: 3vw 0 3vw 0;
}

.btn {
    background-color: #FBD482;
    border-radius: 25px;
    color: #1455B8;
    display: block;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (min-width: 992px) {

    .announcement {
        font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    }

    .event-banner {
        background-color: #1455B8;
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    .event-banner > h2, li {
        color: white;
    }

    .event-banner > li {
        font-size: 45px;
        list-style: none;
        margin-bottom: 1rem;
    }

    .find-us {
        font-family: 'Lobster', cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 75px;
    }

    .main-head > h1 {
        font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
        color: #1455B8;
        font-size: 5rem;
        text-align: center;
        margin: 3vw 0 3vw 0;
    }

    .main-head > p {
        font-size: 24px;
        text-align: left;
    }

    .disclaimer {
        margin-top: 0;
    }
}