.order-screen {
    position: relative;
    margin-bottom: 25rem;
  }
  form {
    width: 30%;
    margin: auto;
  }
  .form-head {
    display: flex;
    flex-direction: column;
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-style: normal;
    color: #1455B8;
    font-size: 25px;
  }
  .form-head > p {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
  }
  .doz-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  .half-dozen {
    font-size: 22px;
  }
  .dozen {
    font-size: 22px;
  }
  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #quantity {
    text-align: right;
  }
  .flavors {
    margin-bottom: 10%;
  }
  .form-control {
    right: 50% !important;
    width: 15%;
  }
  .emailPass {
      width: 100%;
  }
  .addressBox {
      width: 100%;
  }
  .date-time {
      margin: 10% 0 10% 0;
  }
  .thankyou {
      display: flex;
      flex-direction: column;
      margin: 15% 0 25% 0;
      text-align: center;
  }
  .thankyou > h1 {
      font-family: "Lobster", cursive;
    font-weight: 400;
    font-style: normal;
    color: #1455B8;
    font-size: 50px;
  }