.scone-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.stars {
    width: 2rem;
    height:auto;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content:center;
    justify-content: center;
}

.menu-items  > h3 {
    font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
    color: #1455B8;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.menu-items > ul {
    list-style: none;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.price-options > h3 {
    font-family: 'Lobster', cursive;

    font-weight: 400;
    
    font-style: normal;
        color: #1455B8;
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
}

.price-options > ul {
    list-style: none;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content:center;
    justify-content: center;
}

.menu-bg {
    background-image: url(./img/weekly_menu_bg.jpg);
    width: 200px;
    height: 200px;
}

.celebration {
    font-family: 'Poppins', sans-serif;
    color: #1455B8;
}

#weeks-scones {
    font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
color: #1455B8;
font-size: 2rem;
text-align: center;
margin: 3vw 0 3vw 0;
}

.limited-time {
    font-family: 'Poppins', sans-serif;
color: #1455B8;
font-size: 16px;
}

@media screen and (min-width: 767px) {
    .menu {
        display: flex;
        flex-direction: row;
        align-items:baseline;
        text-align: center;
        align-content: center;
        justify-content: center;
        
    }

    .menu-items > ul {
        list-style: none;
        font-family: abolition, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .limited-time {
        font-family: 'Poppins', sans-serif;
    color: #1455B8;
    font-size: 16px;
    }

    .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        align-content:space-between;
        justify-content: center;
        
    }

    .price-options {
        margin-right: 4rem;
    }

    .option-price {
        font-size: 30px;
    }

    .featured-image {
        margin-right: 2rem;
    }

    .celebration {
        font-family: 'Poppins', sans-serif;
        color: #1455B8;
        font-size: 12px;
        line-height: 15px;
    }

    #weeks-scones {
        font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
    color: #1455B8;
    font-size: 4rem;
    text-align: center;
    margin: 3vw 0 3vw 0;
    }
}