.scone-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.stars {
    width: 2rem;
    height:auto;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: center;
    align-content: space-between;
    justify-content: center;
    
}

.menu-items {
    margin-right: 3rem;
    align-content: space-between;
}

.menu-items  > h3 {
    font-family: 'Lobster', cursive;

font-weight: 400;

font-style: normal;
    color: #1455B8;
    font-size: 3rem;
    
}

.menu-items > ul {
    list-style: none;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.menu-bg {
    background-image: url(./img/weekly_menu_bg.jpg);
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 767px) {
    .menu {
        display: flex;
        flex-direction: row;
        align-items: top;
        text-align: center;
        align-content: space-between;
        justify-content: center;
        
    }
}