.scone-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.stars {
    width: 2rem;
    height:auto;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.menu  > h3 {
    font-family: hucklebuck-jf, sans-serif;

font-weight: 400;

font-style: normal;
    color: #1455B8;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.menu > ul {
    list-style: none;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.menu-bg {
    background-image: url(./img/weekly_menu_bg.jpg);
    width: 200px;
    height: 200px;
}